
## [Zero-File](Zero-File)
Remove all contents from the target.

```python
with open(r'Products/Test-Report.md', 'w') as f: 
    f.write('')
```

### Platform Info
Using Python: `C:\Users\arthe\Desktop\qaczar\.venv\Scripts\python.exe`
Current Directory: `C:\Users\arthe\Desktop\qaczar`
Name: `arthexis`

![Products/last-screenshot.png](Products/last-screenshot.png)

### Notes
This gets automatically copied to the target.

## [Test-Sigils](Test-Sigils)
```python
array = []
array.append("Example Input")
print(array[0])
```
> Example Input
