
        <!DOCTYPE html><html lang="en"><head>
        <title>qaczar.com</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="htmx-config" content='{"defaultSwapStyle":"outerHTML"}'>
        <script src="https://unpkg.com/htmx.org@1.8.4"></script>
        <link rel="stylesheet" href="/qaczar.com/style.css" type="text/css" />
        </head><body hx-push-url="true" hx-get="debugger" data-ln="515"><main ><nav hx-get="site_nav" data-ln="473"><a href="/" class="brand"><span >qaczar.com</span></a><a href="debugger">debugger</a></nav><section ><h2 >Context</h2><pre >{&#x27;method&#x27;: &#x27;GET&#x27;,
 &#x27;path&#x27;: &#x27;C:\\Users\\arthe\\Desktop\\qaczar\\qaczar.com&#x27;,
 &#x27;site&#x27;: &#x27;qaczar.com&#x27;}</pre></section><section ><h2 >Globals</h2><pre >{&#x27;APP&#x27;: &#x27;qaczar&#x27;,
 &#x27;BRANCH&#x27;: &#x27;main&#x27;,
 &#x27;ComplexHTTPRequestHandler&#x27;: &lt;class &#x27;__main__.ComplexHTTPRequestHandler&#x27;&gt;,
 &#x27;DEBUG&#x27;: True,
 &#x27;DIR&#x27;: &#x27;C:\\Users\\arthe\\Desktop\\qaczar&#x27;,
 &#x27;HOST&#x27;: &#x27;localhost&#x27;,
 &#x27;HTMX_SRC&#x27;: &#x27;https://unpkg.com/htmx.org@1.8.4&#x27;,
 &#x27;LANG&#x27;: &#x27;en&#x27;,
 &#x27;MAIN_SITE&#x27;: &#x27;qaczar.com&#x27;,
 &#x27;PID&#x27;: 1236,
 &#x27;PORT&#x27;: 9443,
 &#x27;PYTHON&#x27;: &#x27;C:\\Users\\arthe\\Desktop\\qaczar\\.venv\\Scripts\\python.exe&#x27;,
 &#x27;RELEASE&#x27;: &#x27;0.1&#x27;,
 &#x27;SCHEDULE&#x27;: {&#x27;_backup_database&#x27;: 1672161970.2048354},
 &#x27;SESSIONS&#x27;: {&#x27;127.0.0.1&#x27;: &#x27;NMWhhpmB0gVsajGH8l2eLhngsslEEBpwFwcdGBYvZUM&#x27;},
 &#x27;ThreadingSSLServer&#x27;: &lt;class &#x27;__main__.ThreadingSSLServer&#x27;&gt;,
 &#x27;access_log&#x27;: &lt;function access_log at 0x000002CF7B588EA0&gt;,
 &#x27;debugger&#x27;: &lt;function debugger at 0x000002CF79BE3880&gt;,
 &#x27;dt&#x27;: &lt;module &#x27;datetime&#x27; from &#x27;C:\\Python311\\Lib\\datetime.py&#x27;&gt;,
 &#x27;elem&#x27;: &lt;function elem at 0x000002CF79AD59E0&gt;,
 &#x27;elem_article&#x27;: &lt;function elem_article at 0x000002CF79BE2D40&gt;,
 &#x27;elem_button&#x27;: &lt;function elem_button at 0x000002CF79AD4EA0&gt;,
 &#x27;elem_grid&#x27;: &lt;function elem_grid at 0x000002CF79BE2E80&gt;,
 &#x27;elem_h1&#x27;: functools.partial(&lt;function elem at 0x000002CF79AD59E0&gt;, &#x27;h1&#x27;),
 &#x27;elem_h2&#x27;: functools.partial(&lt;function elem at 0x000002CF79AD59E0&gt;, &#x27;h2&#x27;),
 &#x27;elem_h3&#x27;: functools.partial(&lt;function elem at 0x000002CF79AD59E0&gt;, &#x27;h3&#x27;),
 &#x27;elem_h4&#x27;: functools.partial(&lt;function elem at 0x000002CF79AD59E0&gt;, &#x27;h4&#x27;),
 &#x27;elem_html_body&#x27;: &lt;function elem_html_body at 0x000002CF79BE2F20&gt;,
 &#x27;elem_label&#x27;: &lt;function elem_label at 0x000002CF79BE2DE0&gt;,
 &#x27;elem_list&#x27;: &lt;function elem_list at 0x000002CF79BE2B60&gt;,
 &#x27;elem_p&#x27;: functools.partial(&lt;function elem at 0x000002CF79AD59E0&gt;, &#x27;p&#x27;),
 &#x27;elem_pre&#x27;: &lt;function elem_pre at 0x000002CF79BE2CA0&gt;,
 &#x27;elem_section&#x27;: &lt;function elem_section at 0x000002CF79BE2C00&gt;,
 &#x27;emit&#x27;: &lt;function emit at 0x000002CF795B8FE0&gt;,
 &#x27;halt&#x27;: &lt;function halt at 0x000002CF795B9080&gt;,
 &#x27;hs&#x27;: &lt;module &#x27;http.server&#x27; from &#x27;C:\\Python311\\Lib\\http\\server.py&#x27;&gt;,
 &#x27;html_builder&#x27;: &lt;function html_builder at 0x000002CF79BE3060&gt;,
 &#x27;hyper&#x27;: &lt;function hyper at 0x000002CF79BE2FC0&gt;,
 &#x27;imports&#x27;: &lt;function imports at 0x000002CF795F8720&gt;,
 &#x27;index&#x27;: &lt;function index at 0x000002CF79BE3740&gt;,
 &#x27;iso8601&#x27;: &lt;function iso8601 at 0x000002CF795B8B80&gt;,
 &#x27;parse&#x27;: &lt;module &#x27;urllib.parse&#x27; from &#x27;C:\\Python311\\Lib\\urllib\\parse.py&#x27;&gt;,
 &#x27;read_file&#x27;: &lt;function read_file at 0x000002CF79A86DE0&gt;,
 &#x27;recorded&#x27;: &lt;function recorded at 0x000002CF79AD5940&gt;,
 &#x27;request_factory&#x27;: &lt;function request_factory at 0x000002CF7B589760&gt;,
 &#x27;scheduled&#x27;: &lt;function scheduled at 0x000002CF795F87C0&gt;,
 &#x27;server_role&#x27;: &lt;function server_role at 0x000002CF7B589B20&gt;,
 &#x27;site_context&#x27;: &lt;function site_context at 0x000002CF79A86CA0&gt;,
 &#x27;site_footer&#x27;: &lt;function site_footer at 0x000002CF79BE3600&gt;,
 &#x27;site_functions&#x27;: &lt;function site_functions at 0x000002CF79BE34C0&gt;,
 &#x27;site_nav&#x27;: &lt;function site_nav at 0x000002CF79BE3240&gt;,
 &#x27;site_welcome&#x27;: &lt;function site_welcome at 0x000002CF79BE3380&gt;,
 &#x27;ss&#x27;: &lt;module &#x27;socketserver&#x27; from &#x27;C:\\Python311\\Lib\\socketserver.py&#x27;&gt;,
 &#x27;t&#x27;: &lt;module &#x27;typing&#x27; from &#x27;C:\\Python311\\Lib\\typing.py&#x27;&gt;,
 &#x27;test_server_load&#x27;: &lt;function test_server_load at 0x000002CF7B589800&gt;,
 &#x27;tester_role&#x27;: &lt;function tester_role at 0x000002CF7B589BC0&gt;,
 &#x27;timed&#x27;: &lt;function timed at 0x000002CF795F8400&gt;,
 &#x27;watcher_role&#x27;: &lt;function watcher_role at 0x000002CF7B589940&gt;,
 &#x27;worker_role&#x27;: &lt;function worker_role at 0x000002CF7B589C60&gt;,
 &#x27;write_file&#x27;: &lt;function write_file at 0x000002CF79A86FC0&gt;}</pre></section></main></body></html>
        