
        <!DOCTYPE html><html lang="en"><head>
        <title>qaczar.com</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="htmx-config" content='{"defaultSwapStyle":"outerHTML"}'>
        <script src="https://unpkg.com/htmx.org@1.8.4"></script>
        <link rel="stylesheet" href="/qaczar.com/style.css" type="text/css" />
        </head><body hx-push-url="true" hx-get="debugger" data-ln="482"><main ><nav hx-get="site_nav" data-ln="453"><a href="/" class="brand"><span >qaczar.com</span></a><a href="debugger">debugger</a></nav><section ><h2 >Context</h2><pre >{'site': 'qaczar.com',
 'work_path': 'C:\\Users\\arthe\\Desktop\\qaczar\\qaczar.com'}</pre></section><section ><h2 >Globals</h2><pre >{'APP': 'qaczar',
 'BRANCH': 'main',
 'ComplexHTTPRequestHandler': <class '__main__.ComplexHTTPRequestHandler'>,
 'DEBUG': True,
 'DIR': 'C:\\Users\\arthe\\Desktop\\qaczar',
 'HOST': 'localhost',
 'HTMX_SRC': 'https://unpkg.com/htmx.org@1.8.4',
 'INDEX': defaultdict(<class 'dict'>,
                      {'body': {'debugger': <function debugger at 0x00000253BF1B3F60>,
                                'index': <function index at 0x00000253BF188900>},
                       'footer': {'site_footer': <function site_footer at 0x00000253BF1887C0>},
                       'nav': {'site_nav': <function site_nav at 0x00000253BF188680>},
                       'section': {}}),
 'LANG': 'en',
 'MAIN_SITE': 'qaczar.com',
 'PID': 19324,
 'PORT': 9443,
 'PYTHON': 'C:\\Users\\arthe\\Desktop\\qaczar\\.venv\\Scripts\\python.exe',
 'RELEASE': '0.1',
 'SCHEDULE': {'_backup_database': 1672123246.0551336},
 'SESSIONS': {'127.0.0.1': '003hphvYsTcTgVtwU-jIhDV3Y35hgACY_ZPbq1ULSg0'},
 'ThreadingSSLServer': <class '__main__.ThreadingSSLServer'>,
 '_ARGS': (),
 '_KWARGS': {'watcher': '18908'},
 '_LOCAL': <_thread._local object at 0x00000253BEBFF100>,
 '_SCHEMA': defaultdict(<class 'dict'>,
                        {'qaczar': {'access_log__params': 'CREATE TABLE IF NOT '
                                                          'EXISTS '
                                                          'access_log__params '
                                                          '(address TEXT, '
                                                          'message TEXT, ts '
                                                          'TIMESTAMP DEFAULT '
                                                          'CURRENT_TIMESTAMP, '
                                                          'id INTEGER PRIMARY '
                                                          'KEY AUTOINCREMENT)',
                                    'access_log__result': 'CREATE TABLE IF NOT '
                                                          'EXISTS '
                                                          'access_log__result '
                                                          '(result TEXT, seq '
                                                          'INTEGER, params_id '
                                                          'INTEGER, ts '
                                                          'TIMESTAMP DEFAULT '
                                                          'CURRENT_TIMESTAMP, '
                                                          'id INTEGER PRIMARY '
                                                          'KEY AUTOINCREMENT)',
                                    'qaczar_instances': 'CREATE TABLE IF NOT '
                                                        'EXISTS '
                                                        'qaczar_instances '
                                                        '(app_name TEXT, pid '
                                                        'TEXT, ts TIMESTAMP '
                                                        'DEFAULT '
                                                        'CURRENT_TIMESTAMP, id '
                                                        'INTEGER PRIMARY KEY '
                                                        'AUTOINCREMENT)'}}),
 '__annotations__': {},
 '__builtins__': <module 'builtins' (built-in)>,
 '__cached__': None,
 '__doc__': None,
 '__file__': 'C:\\Users\\arthe\\Desktop\\qaczar\\qaczar.py',
 '__loader__': <_frozen_importlib_external.SourceFileLoader object at 0x00000253BE495550>,
 '__name__': '__main__',
 '__package__': None,
 '__spec__': None,
 '_args_line': <function _args_line at 0x00000253BE6BA2A0>,
 '_backup_database': <function _backup_database at 0x00000253C0BBB380>,
 '_build_ssl_certs': <function _build_ssl_certs at 0x00000253C0BBA520>,
 '_commit_source': <function _commit_source at 0x00000253C0BBB1A0>,
 '_connect_db': <function _connect_db at 0x00000253BF1037E0>,
 '_func_params_cols': <function _func_params_cols at 0x00000253BF1036A0>,
 '_init_table': <function _init_table at 0x00000253BF103920>,
 '_insert': <function _insert at 0x00000253BF103880>,
 '_keep_alive': <function _keep_alive at 0x00000253C0BBA700>,
 '_mtime_file': <function _mtime_file at 0x00000253BE6B9BC0>,
 '_pip_import': <function _pip_import at 0x00000253BEC57F60>,
 '_purge_database': <function _purge_database at 0x00000253BF103600>,
 '_read_file': <function _read_file at 0x00000253BE6B9D00>,
 '_restart_py': <function _restart_py at 0x00000253BF0D2980>,
 '_role_dispatch': <function _role_dispatch at 0x00000253C0BBB600>,
 '_setup_py_venv': <function _setup_py_venv at 0x00000253BEC48860>,
 '_split_args': <function _split_args at 0x00000253BEC48720>,
 '_start_py': <function _start_py at 0x00000253BEC48C20>,
 '_stop_py': <function _stop_py at 0x00000253BF0D1800>,
 '_storage_type': <function _storage_type at 0x00000253BF103740>,
 '_watch_forever': <function _watch_forever at 0x00000253BF0D2A20>,
 '_write_file': <function _write_file at 0x00000253BEC57EC0>,
 'access_log': <function access_log at 0x00000253C0BBA7A0>,
 'atexit': <module 'atexit' (built-in)>,
 'collections': <module 'collections' from 'C:\\Python311\\Lib\\collections\\__init__.py'>,
 'contextlib': <module 'contextlib' from 'C:\\Python311\\Lib\\contextlib.py'>,
 'debugger': <function debugger at 0x00000253BF1B4040>,
 'dt': <module 'datetime' from 'C:\\Python311\\Lib\\datetime.py'>,
 'elem': <function elem at 0x00000253BF1034C0>,
 'elem_article': <function elem_article at 0x00000253BF188220>,
 'elem_button': <function elem_button at 0x00000253BF103E20>,
 'elem_grid': <function elem_grid at 0x00000253BF188360>,
 'elem_h1': functools.partial(<function elem at 0x00000253BF1034C0>, 'h1'),
 'elem_h2': functools.partial(<function elem at 0x00000253BF1034C0>, 'h2'),
 'elem_h3': functools.partial(<function elem at 0x00000253BF1034C0>, 'h3'),
 'elem_h4': functools.partial(<function elem at 0x00000253BF1034C0>, 'h4'),
 'elem_html_body': <function elem_html_body at 0x00000253BF188400>,
 'elem_label': <function elem_label at 0x00000253BF1882C0>,
 'elem_list': <function elem_list at 0x00000253BF188040>,
 'elem_pre': <function elem_pre at 0x00000253BF188180>,
 'elem_section': <function elem_section at 0x00000253BF1880E0>,
 'emit': <function emit at 0x00000253BEC08EA0>,
 'functools': <module 'functools' from 'C:\\Python311\\Lib\\functools.py'>,
 'halt': <function halt at 0x00000253BEC08F40>,
 'hs': <module 'http.server' from 'C:\\Python311\\Lib\\http\\server.py'>,
 'html_builder': <function html_builder at 0x00000253BF188540>,
 'hyper': <function hyper at 0x00000253BF1884A0>,
 'importlib': <module 'importlib' from 'C:\\Python311\\Lib\\importlib\\__init__.py'>,
 'imports': <function imports at 0x00000253BEC485E0>,
 'index': <function index at 0x00000253BF1B3EC0>,
 'inspect': <module 'inspect' from 'C:\\Python311\\Lib\\inspect.py'>,
 'iso8601': <function iso8601 at 0x00000253BEC08A40>,
 'os': <module 'os' (frozen)>,
 'parse': <module 'urllib.parse' from 'C:\\Python311\\Lib\\urllib\\parse.py'>,
 'pprint': <module 'pprint' from 'C:\\Python311\\Lib\\pprint.py'>,
 'random': <module 'random' from 'C:\\Python311\\Lib\\random.py'>,
 'read_file': <function read_file at 0x00000253BF0D2C00>,
 'recorded': <function recorded at 0x00000253BF103560>,
 'request_factory': <function request_factory at 0x00000253C0BBB060>,
 'scheduled': <function scheduled at 0x00000253BEC48680>,
 'secrets': <module 'secrets' from 'C:\\Python311\\Lib\\secrets.py'>,
 'server_role': <function server_role at 0x00000253C0BBB420>,
 'site_context': <function site_context at 0x00000253BF0D2B60>,
 'site_footer': <function site_footer at 0x00000253BF188860>,
 'site_nav': <function site_nav at 0x00000253BF188720>,
 'sqlite3': <module 'sqlite3' from 'C:\\Python311\\Lib\\sqlite3\\__init__.py'>,
 'ss': <module 'socketserver' from 'C:\\Python311\\Lib\\socketserver.py'>,
 'ssl': <module 'ssl' from 'C:\\Python311\\Lib\\ssl.py'>,
 'subprocess': <module 'subprocess' from 'C:\\Python311\\Lib\\subprocess.py'>,
 'sys': <module 'sys' (built-in)>,
 't': <module 'typing' from 'C:\\Python311\\Lib\\typing.py'>,
 'test_server_load': <function test_server_load at 0x00000253C0BBB100>,
 'tester_role': <function tester_role at 0x00000253C0BBB4C0>,
 'threading': <module 'threading' from 'C:\\Python311\\Lib\\threading.py'>,
 'time': <module 'time' (built-in)>,
 'timed': <function timed at 0x00000253BEC482C0>,
 'traceback': <module 'traceback' from 'C:\\Python311\\Lib\\traceback.py'>,
 'watcher_role': <function watcher_role at 0x00000253C0BBB240>,
 'worker_role': <function worker_role at 0x00000253C0BBB560>,
 'write_file': <function write_file at 0x00000253BF0D2CA0>}</pre></section></main></body></html>
        