
        <!DOCTYPE html><html lang="en"><head>
        <title>qaczar.com</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="htmx-config" content='{"defaultSwapStyle":"outerHTML"}'>
        <script src="https://unpkg.com/htmx.org@1.8.4"></script>
        <link rel="stylesheet" href="/qaczar.com/style.css" type="text/css" />
        </head><body hx-push-url="true" hx-get="debugger" data-ln="482"><main ><nav hx-get="site_nav" data-ln="453"><a href="/" class="brand"><span >qaczar.com</span></a><a href="debugger">debugger</a></nav><section ><h2 >Context</h2><pre >{'site': 'qaczar.com',
 'work_path': 'C:\\Users\\arthe\\Desktop\\qaczar\\qaczar.com'}</pre></section><section ><h2 >Variables</h2><pre >['os',
 'sys',
 'time',
 'traceback',
 't',
 'BRANCH',
 'RELEASE',
 'LANG',
 'DEBUG',
 'PYTHON',
 'PID',
 'DIR',
 'APP',
 'iso8601',
 'emit',
 'halt',
 'importlib',
 'functools',
 'timed',
 'imports',
 'SCHEDULE',
 'scheduled',
 'atexit',
 'subprocess',
 'contextlib',
 'site_context',
 'read_file',
 'write_file',
 'sqlite3',
 'threading',
 'collections',
 'recorded',
 'inspect',
 'elem',
 'elem_h1',
 'elem_h2',
 'elem_h3',
 'elem_h4',
 'elem_button',
 'elem_list',
 'elem_section',
 'elem_pre',
 'elem_article',
 'elem_label',
 'elem_grid',
 'HTMX_SRC',
 'elem_html_body',
 'INDEX',
 'hyper',
 'html_builder',
 'site_nav',
 'site_footer',
 'pprint',
 'index',
 'debugger',
 'ssl',
 'secrets',
 'dt',
 'hs',
 'ss',
 'parse',
 'MAIN_SITE',
 'HOST',
 'PORT',
 'access_log',
 'SESSIONS',
 'ComplexHTTPRequestHandler',
 'ThreadingSSLServer',
 'random',
 'request_factory',
 'test_server_load',
 'watcher_role',
 'server_role',
 'tester_role',
 'worker_role']</pre></section></main></body></html>
        