
    <!DOCTYPE html><html lang="en"><head>
    <title>qaczar.com</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="htmx-config" content='{"defaultSwapStyle":"outerHTML"}'>
    <script src="https://unpkg.com/htmx.org@1.8.4"></script>
    <link rel="stylesheet" href="/qaczar.com/style.css" type="text/css" />
    </head><body hx-push-url="true" hx-get="index" data-ln="525"><main ><nav hx-get="site_nav" data-ln="488"><a href="/" class="brand"><span >QACZAR.COM</span></a><a href="debugger">debugger</a></nav>('<h1 >Index</h1>', '<p href="/qaczar.com/nav"> [nav] </p>', '<p href="/qaczar.com/section"> [section] </p>', '<p href="/qaczar.com/footer"> [footer] </p>', '<p href="/qaczar.com/body"> [body] </p>')('<h1 >None</h1>', '<p >None</p>')<footer hx-get="site_footer" data-ln="515"><a href="/qaczar.py">Powered by qaczar.py [source]</a><a href="https://twitter.com/arthexis" target="_blank"> [twitter] </a><a href="https://github.com/arthexis/qaczar" target="_blank"> [github] </a><a href="https://www.facebook.com/arthexis" target="_blank"> [facebook] </a></footer></main></body></html>
    