
    <!DOCTYPE html><html lang="en">
    <head>
        <title>qaczar.com</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="htmx-config" content='{"defaultSwapStyle":"outerHTML"}'>
        <script src="https://unpkg.com/htmx.org@1.8.4"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic" type="text/css" />
    </head>
    <body hx-push-url="true" hx-get="index" data-ln="469" class="documentation"><nav hx-get="site_nav" data-ln="450"><span class="brand"><a href="/">qaczar.com</a></span></nav><main hx-get="site_main" data-ln="457"><h1 >Blog</h1><p >TODO: Blog content.</p></main><footer hx-get="site_footer" data-ln="462"><a >Powered by the qaczar.py web system.</a></footer></body>
    </html>
    