html {
    height:100%;
    background:
      radial-gradient(#000 0.5px,transparent 0.5px) 0   0   /3px 3px,
      radial-gradient(#000 0.5px,transparent 0.5px) 1px 1px /3px 3px,
      radial-gradient(#000 0.5px,transparent 0.5px) 2px 2px /3px 3px,
      url(https://i.picsum.photos/id/102/800/800.jpg) center/cover;
  }
body {
    counter-reset: section;
    font-family: 'PressStart2PRegular';
    font-weight: normal;
    font-style: normal; 
    font-size: 12px;
    color: #000044;
    background: rgba(255, 255, 255, 0.8);

}
a { color: #006b3c }
ul, ol {
    list-style: none;
    padding: 10px;
}
ol li::before {
    counter-increment: section;
    content: counter(section)  ". ";
    color: #420c09;
}
ul li::before {
    content: "•";
    color: #8b0000;
    font-weight: bold;
    display: inline-block;
    width: 1em;
}
/* Highlight currently hovered item with a light green background */
li:hover {
    background-color: #e6ffe6;
}
.notes { color: #1E8FD5; }

h1 { display: inline; }
h2 { display: inline; }
h3 { display: inline; }
h4 { display: inline; }
h5 { display: inline; }
p { display: inline; }

  