html {
    height:100%;
    background:
      radial-gradient(#000 0.5px,transparent 0.5px) 0   0   /3px 3px,
      radial-gradient(#000 0.5px,transparent 0.5px) 1px 1px /3px 3px,
      radial-gradient(#000 0.5px,transparent 0.5px) 2px 2px /3px 3px,
      url(https://i.picsum.photos/id/102/800/800.jpg) center/cover;
  }
body {
    counter-reset: section;
    font-family: 'PressStart2PRegular';
    font-weight: normal;
    font-style: normal; 
    font-size: 12px;
    color: #000044;
    background: rgba(255, 255, 255, 0.8);

}
a { color: #006b3c }
ul, ol {
    list-style: none;
    padding: 10px;
}
ol li::before {
    counter-increment: section;
    content: counter(section)  ". ";
    color: #420c09;
}
ul li::before {
    content: "•";
    color:  #420c09;
    font-weight: bold;
    display: inline-block;
    width: 1em;
}
strong {
    color: #8b0000;
}
li:hover {
    background-color: #e6ffe6;
}
q { color: #1E8FD5; }

h1 { display: inline; }
h2 { display: inline; }
h3 { display: inline; }
h4 { display: inline; }
h5 { display: inline; }
p { display: inline; }

mark {
    background-color: transparent;
    color: #DD571C;
}

main {
    margin: 0 auto;
    padding: 14px;
}
hr {
    border: 0;
    height: 2px;
    background: #333;
    margin-top: 14px;
    margin-bottom: 14px;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
textarea {
    font-family: 'PressStart2PRegular';
    font-weight: normal;
    font-style: normal; 
    font-size: 12px;
    color: #000044;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    margin: 8px 0;
    box-sizing: border-box;
    resize: vertical;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 20%;
    font-size: 16px;
    font-family: 'PressStart2PRegular';
}
/* Tone down the font color on the footer */
footer {
    color: #999;
    font-size: 12px;
}

  