@font-face {
    font-family: QACZAR;
    src:url("./qaczar.otf");
}
html {
    background-color: #333;
    counter-reset: section;
    font-family: 'QACZAR', monospace;
    font-size: 10px;
    color: #6b8364;
}
body {
    margin: 10px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}