@font-face {
    font-family: QACZAR;
    src:url("./qaczar.otf");
}
html {
    background-color: #333;
    counter-reset: section;
    font-family: 'QACZAR', monospace;
    font-size: 10px;
    color: #000044;
}
nav, article {
    background: rgba(255, 255, 255, 0.8);
    text-shadow: 1px 1px 2px #999;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 1px 1px 5px #555 inset;
    margin-bottom: 8px;
}
span:empty, div:empty {
    display: none;
}
h1 {
    display: inline-block;
    margin: 4px 20px 8px 8px;
    text-transform: uppercase;
    font-size: 24px;
    vertical-align: middle;
}
h2 {
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    margin: 8px;
}
#query-field{
    font-family: 'QACZAR';
    font-size: 14px;
    color: #181d16;
    height: 20px;
    max-height: 400px;
    width: 99%;
    min-width: 99%;
    max-width: 99%;
    resize: none;
    overflow: auto;
    padding: 7px 0px 4px 10px;
    margin-bottom: 0;
    border: 0;
    border-radius: 4px;
    box-shadow: 1px 1px 2px #555 inset;
}
article {
    padding-top: 4px;
    padding-left: 8px;
}
p {
    padding-left: 8px;
    padding-top: 2px;
}
a { 
    color: #006b3c;
    text-decoration: none;
}
a:hover {
    color: #00a65a;
    text-decoration: underline;
}
strong {
    color: #8b0000;
    font-size: larger;
}
ul, ol {
    list-style: none;
    padding: 0px;
}
ol li {
    counter-increment: section;
    margin-bottom: 6px;
}
ol li::before {
    content: counter(section)  ". ";
    color: #043d93;
    font-size: 8px;
}
ul li::before {
    content: "•";
    color: #043d93;
    display: inline-block;
    width: 12px;
    padding: 6px;
}
li:hover {
    background-color: #e6ffe6;
}
q { 
    color: #1E8FD5;
    text-decoration: none;
    font-size: 10px;
    font-style: italic;
    padding-bottom: 6px;
}
q::before { 
    content: none; 
}
q::after { 
    content: none; 
}
code {
    font-family: 'QACZAR', monospace;
    font-size: 10px;
    color: #371d10;
    height: 12px;
    display: inline-block;
}
mark {
    background-color: transparent;
    color: #DD571C;
}
time {
    color: #7851A9;
    font-size: 8px;
}
hr {
    border: 0;
    height: 2px;
    background: #333;
    margin-top: 14px;
    margin-bottom: 14px;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
button {
    font-family: 'QACZAR';
    background-color:#e6d1c1;
    cursor: pointer;
    font-size: 12px;
    padding: 6px;
    margin-right: 4px;
    margin-bottom: 4px;
    vertical-align: middle;
}
button:hover {
    background-color: #f2e6d9;
}
table {
    padding: 4px;
}
th {
    padding-right: 8px;
    color: #043d93;
    font-weight: bold;
    text-align: left;
    padding-bottom: 6px;
    text-transform: uppercase;
}
td {
    padding-right: 8px;
}
tr {
    height: 14px;
}
tr:hover {
    background-color: #e6ffe6;
}
footer {
    color: #6b8364;
    font-size: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 14px;
}
aside {
    color: #6b8364;
    font-size: 8px;
    padding: 4px;
}
#query-output  {
    color: #043d93;
    padding-top: 8px;
    padding-left: 8px;
}
img {
    max-width: 100%;
    height: auto;
    padding-top:0;
    padding-left: 4px;
}
  