
        <!DOCTYPE html><html lang="en"><head>
            <title>qaczar.com</title>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <meta name="htmx-config" content='{"defaultSwapStyle":"outerHTML"}'>
            <script src="https://unpkg.com/htmx.org@1.8.4"></script>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic" type="text/css" />
            <link rel="stylesheet" href="/qaczar.com/style.css" type="text/css" />
        </head><body css="documentation" hx-push-url="true" hx-get="index" data-ln="459"><nav hx-get="site_nav" data-ln="436" class="transparent"><a href="/" class="brand"><span >qaczar.com</span></a><a href="/index">/INDEX</a><a href="/scratchpad">/SCRATCHPAD</a></nav><main hx-get="site_main" data-ln="446"><header style="height: 40vh; background: #333;" class="hero">qaczar.com</header><section >/index/scratchpad</section></main><footer hx-get="site_footer" data-ln="452"><a href="/qaczar.py">Powered by the qaczar.py web system.</a></footer></body></html>
        