
    <!DOCTYPE html><html lang="en"><head>
    <title>qaczar.com</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="htmx-config" content='{"defaultSwapStyle":"outerHTML"}'>
    <script src="https://unpkg.com/htmx.org@1.8.4"></script>
    <link rel="stylesheet" href="/qaczar.com/style.css" type="text/css" />
    </head><body hx-push-url="true" hx-get="index" data-ln="511"><main ><nav hx-get="site_nav" data-ln="469"><a href="/qaczar.com/index.html" class="brand"><span >QACZAR.COM</span></a><a href="/qaczar.com/debugger.html">debugger</a></nav><section hx-get="site_index" data-ln="480"><h1 >QACZAR</h1><a href="/qaczar.com/index.html?article=site_index"><p >index</p></a><a href="/qaczar.com/index.html?article=site_articles"><p >articles</p></a></section><section hx-get="site_articles" data-ln="490"><h1 >Articles</h1></section><footer hx-get="site_footer" data-ln="501"><a href="/qaczar.py">Powered by qaczar.py [source]</a><a href="https://twitter.com/arthexis" target="_blank"> [twitter] </a><a href="https://github.com/arthexis/qaczar" target="_blank"> [github] </a><a href="https://www.facebook.com/arthexis" target="_blank"> [facebook] </a></footer></main></body></html>
    