
    <!DOCTYPE html><html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="htmx-config" content='{"defaultSwapStyle":"outerHTML"}'>
        <script src="https://unpkg.com/htmx.org@1.8.4"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic" type="text/css" />
        <title>qaczar.com</title>
    </head>
    <body hx-push-url="true" hx-get="index" data-ln="468"><nav hx-get="site_nav" data-ln="446"><h1 ><a href="/">qaczar.com</a></h1></nav><main hx-get="site_blog" data-ln="454"><h1 >Blog</h1><p >TODO: Blog content.</p></main><footer hx-get="site_footer" data-ln="460"><a ><a href="/qaczar.py">Powered by the qaczar.py web system.</a></a></footer></body>
    </html>
    