
## [Zero-File](Zero-File.md)
Remove all contents from the target.

```python
with open(r'Prototypes/Reports/Test-Report.md', 'w') as f: 
    f.write('')
```

### Platform Info
Using Python: `C:\Python311\python.exe`
Current Directory: `C:\Users\arthe\Desktop\qaczar\root`
Name: `arthexis`

![Prototypes/Products/last-screenshot.png](Prototypes/Products/last-screenshot.png)

### Notes
This gets automatically copied to the target.

## [Test-Sigils](Test-Sigils)
```python
array = []
array.append("Example Input")
print(array[0])
```
> Example Input
