* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}
html, input {
    background-color: #222;
    font-family: monospace;
    font-size: 1rem;
    color: #93c572;
}
body {
    width: 100%;
    height: 100%;
}
header {
    max-width: 98%;
}
section {
    padding: 1rem;
    background-color: #222;
    width: -moz-fit-content;
    width: fit-content;
    display: inline-block;
    padding-bottom: 1.5em;
    vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: goldenrod;
}
h1 {
    font-size: 1.8rem;
}
h1 .ascii {
    font-size: 0.8rem;
    text-transform: none;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.2rem;
}
.doc {
    color: #66FFFF;
}
a:visited, a:link {
    color: #66FF66;
}
a:hover {
    color: goldenrod;
}
ol, ul {
    list-style-type: none;
}
ul li {
    display: inline;
}
ol li::before {
    content: counter(list) ". ";
    counter-increment: list;
    color: #666;
}
ol {
    counter-reset: list;
}
ol.ln li::before {
    content: attr(data-ln) ". ";
    counter-increment: list;
}
ol.ln li:hover {
    color: #66FFFF;
}
hr {
    border: 0;
    border-top: 1px solid #666;
    margin: 1rem 0;
    width: 99%;
}
form {
    background-color: #444;
    border: 1px solid #666;
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: auto;
    display: inline-block;
}
input {
    min-width: 30rem;
}
label {
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
}
button {
    margin-top: 0.5rem;
    color: #93c572;
    background-color: #333;
    border: 1px solid #666;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
}
button:hover {
    background-color: #430;
}
footer {
    background-color: #702973;
    padding: 1rem;
}
footer a, footer a:visited, footer a:link {
    color: black;
}
.traceback {
    color: #FF6666;
    background-color: #222;
    font-size: 0.8rem;
    overflow: auto;
    width: 98%;
    padding: 0.5rem;
}
nav {
    display: inline-block;
    padding: 1rem;
    background-color: #021b02;
    width: 100%;
}
nav a {
    color: #66FF66;
    margin-right: 0.5rem;
}
